<div class="about">

  <h1>I build</h1>

  <div class="about--build-info">
    <ul>
      <li>
        <h3>
          Software
        </h3>
      </li>
      <li>
        <h3>
          Products
        </h3>
      </li>
      <li>
        <h3>
          Teams
        </h3>
      </li>
    </ul>

    <img alt="" class="avatar width-full rounded-2" height="230"
         src="https://avatars2.githubusercontent.com/u/11779993?s=460&amp;v=4" width="230">
  </div>
</div>