<div class="about">

  <h1>I build</h1>

  <div class="about--build-info">
    <ul>
      <li>
        <h3>
          Software
        </h3>
      </li>
      <li>
        <h3>
          Products
        </h3>
      </li>
      <li>
        <h3>
          Teams
        </h3>
      </li>
    </ul>

    <img alt="" class="avatar width-full rounded-2" height="230"
         src="https://avatars2.githubusercontent.com/u/11779993?s=460&amp;v=4" width="230">
  </div>


  <p>
    I have experiences building <b>frontend</b> web applications and <b>backends</b> for financial and cyber-security applications.
    I'm comfortable in dynamic, statically typed, object oriented, and functional languages and understand when to apply
    the proper paradigm and tool to the problem at hand. Technology is one of the many tools I use to solve problems.
  </p>
  <p>
    I have experience building systems for the Capital Markets -- particularly <a href="https://en.wikipedia.org/wiki/Term_loan">term loans</a>
    and to a lesser extent <a href="https://en.wikipedia.org/wiki/Revolving_credit">revolving credit</a> and
    <a href="https://en.wikipedia.org/wiki/Asset-backed_security">ABS products</a>.
    I strive to become an expert in the product domains I work in and model them as effectively as possible.
    As such the systems I have designed and built execute <b>real-time aggregate time series queries</b> over millions of records to
    give users clear and valuable insights into their risk exposure.
  </p>
  <p>
    I enjoy learning from and mentoring those around me, as well as continually pushing my team to be the best possible.
    I'm comfortable working with <b>remote</b> developers, <b>contractors</b> and <b>vendors</b>, and navigating the communication challenges
    presented by these style of relationships.
  </p>
</div>