<div class="nav-header">
  <div class="tabs">
    {{#link-to 'index' tagName='div' class='tab'}}
      Home
    {{/link-to}}
    {{#link-to 'about' tagName='div' class='tab'}}
      About
    {{/link-to}}
    {{#link-to 'technology' tagName='div' class='tab'}}
      Technology
    {{/link-to}}
    {{#link-to 'contact' tagName='div' class='tab'}}
      Contact
    {{/link-to}}
  </div>
</div>
<div class="application-wrapper">
  {{liquid-outlet}}
</div>

