<div class="nav-header">
  <div class="tabs">
    <div class="tab">
      Home
    </div>
    <div class="tab">
      About
    </div>
    <div class="tab">
      Technology
    </div>
    <div class="tab">
      Blog
    </div>
    <div class="tab">
      Contact
    </div>
  </div>
</div>
<div class="application-wrapper">
{{outlet}}
</div>

