<ul>
  <li>
    <a href="https://github.com/alexander-alvarez">
      Github: <b>alexander-alvarez</b>
    </a>

  </li>
  <li>
    <a href="https://www.linkedin.com/in/alvaale/">
      LinkedIn: <b>Alex Alvarez</b>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/alexalvarez_dev">Twitter: <b>@alexalvarez_dev</b></a>
  </li>
  <li>
    <a href="https://medium.com/@alex.alvarez"></a>
  </li>
</ul>
