<h1 class="intro-title">Hi!</h1>
<div class="exclamation-bubble">
  <div class="vertical-centered-container">
    <p class="text">I'm Alex Alvarez,</p>
    <p class="text">a NYC-based</p>
    <p class="text">Software Developer</p>
  </div>
</div>