<div class="technology">
  <i>
    <p class="quote">
      Move fast, break things.
    </p>
  </i>

  <p>
    As a full-stack developer I excel in delivering products. Below are technologies that I leverage to be productive.
  </p>

  <div class="icons-panel">

    <div class="icon-holder">
      <div class="icon">

      </div>
      <label class="icon-label">Ember</label>
    </div>

    <div class="icon-holder">

    </div>

    <div class="icon-holder">

    </div>

  </div>
</div>